.general{
  display: grid;
  grid-template-areas:
  'header header'
  'menu main'
  'footer footer';
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .general{width: 100%;}
  
  .header { grid-area: header; }
  .nav { grid-area: menu; }
  .WrapContent { grid-area: main; }
  .footer { grid-area: footer; }
  
